# Log Files
logs/
*.log

# Database Files
*.db

# Ignore built / packaged code
dist/
build/
bin/
*.egg-info

# PyCharm Projects
.idea/

# Pytest dirs
__pycache__/
.pytest_cache/

# Ignore dev virtual enviroment
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.python-version
